.scroll{
    overflow-y: scroll;
}
.img-border{
    border:1px solid #cccccc;
}
.img-border:hover{
    .fa-facebook-official,.fa-twitter-custom{
        background-color: #007bff;
        color: white;
    }
  }
  .li-pad
  {
    padding-right: 108px;
    padding-left: 107px;
  }