<div class="header">
  <nav class="navbar navbar-expand-lg navbar-light font-weight-normal font-family">
    <a class="navbar-brand pl-3" href="https://www.scketch.com">
      <img src="assets/logo.png" width="100" height="22" alt="Scketch">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
     data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse margin-left" id="navbarNav">
      <ul class="navbar-nav justify-content-end">
        <li class="nav-item pl-5 font-size-19 ">
          <a class="nav-link active" href="#">Services</a>
        </li>
        <li class="nav-item pl-3 font-size-19">
          <a class="nav-link active" href="#">About Us</a>
        </li>
        <li class="nav-item pl-4 font-size-19">
          <a class="nav-link active" href="#">Portfolio</a>
        </li>
        <li class="nav-item pl-4 font-size-19">
          <a class="nav-link active" href="#">DigiTales</a>
        </li>
        <li class="nav-item pl-4 font-size-19">
          <a class="nav-link active" href="#">Careers</a>
        </li>
        <li class="nav-item pl-4 font-size-19">
          <a class="nav-link active" href="#">Contact</a>
        </li>
        <li class="nav-item pl-4 font-size-19">
          <a class="nav-link active" href="#"><i class="fa fa-search"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
  <div class="container">
    <div class="section1 ml-5 mt-3">
     <div class="row side-adj">
      <div class="column1 w-50 p-3 ">
        <h3 class="col1-height mb-3">NATCON 2019- "Where Resilience Meets Excellence... 25th- 27th Sept'19'</h3>
        <a class="a-decor mt-1" href="#">#natcon2019</a>
        <p class="p-height mt-3"> Lorem ipsum dolor sit amet, consecteris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
        <a class="read-more" href="#">Read More</a>
      </div>
      <div class="column2 mt-4 ml-3">
        <img src="assets/natcon2019.png" width="520px" height="220px" alt="Scketch">
      </div>
    </div>
  </div>
  <div class="section2">
    <div class="row text-center mt-5">
      <div class="col">
        <h2>Categories</h2>       
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <ul>
          <li><a href="#"><img class="rounded-circle active_comp img-border shadow p-1 mb-4" src="assets/design_icon-01.png"></a></li>
          <li><h5 class="ml-4">Design</h5></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#"><img class="img-border rounded-circle shadow p-1 mb-4 bg-white" src="assets/mobile_icon-01.png"></a></li>
          <li><h5>Mobile App</h5></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#"><img class="img-border rounded-circle shadow p-1 mb-4 bg-white" src="assets/website_icon-01.png"></a></li>
          <li><h5 class="ml-4">Website</h5></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#"><img class="img-border rounded-circle shadow p-1 mb-4 bg-white" src="assets/internet_of_things_icon-01.png"></a></li>
          <li><h5 class="ml-3">Internet Of Things</h5></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#"><img class="img-border rounded-circle shadow p-1 mb-4 bg-white" src="assets/artificial_intelligence_icon-01.png"></a></li>
          <li><h5 class="ml-4">Artificial Intelligence</h5></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="section3">
    <div class="row text-center mt-5">
      <div class="col mb-4">
        <h2>Design</h2>       
      </div>
    </div>
    <div class="row mt-4">
      <div class="col max-wid"> 
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/Chat-bot-Headers.png" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title font-size-15">Hola bot! Best Practices to follo...</h5>
            <p class="card-text text-color">After decades of buttons on screens,chat bots are...</p>
            <a class="read-more ml-5 " href="#">Read Article</a>
          </div>
          <ul class="disp border-top mt-4 pl-3">
            <li class="mt-4 ml-3 mb-2"><a href="#" class="ul-decor border border-disable p-2 mr-1">#AI</a></li>
            <li class="mt-4"><a href="#" class="ul-decor border border-disable p-2 ">#ArtificialIntelligence</a></li>
          </ul>
        </div> 
      </div>

      <div class="col max-wid"> 
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/Banner-Digitale-1.png" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title font-size-15">Busting 5 Common UX Design ...</h5>
            <p class="card-text text-color">Without a doubt, our banking & financial sect...</p>
            <a class="read-more ml-5" href="#">Read Article</a>
          </div>
          <ul class="disp border-top mt-4 pl-3">
            <li class="mt-4 ml-3 mb-2"><a href="#" class="ul-decor border border-disable p-2 mr-1">#Banking</a></li>
            <li class="mt-4"><a href="#" class="ul-decor border border-disable p-2 mr-2">#BFSI</a></li>
          </ul>
        </div> 
      </div>

      <div class="col max-wid"> 
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/Big_DataDesign_Thinking.png" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title font-size-15">Humanizing Big Data with Desi...</h5>
            <p class="card-text text-color">The amount of data each one of us is creating in ...</p>
            <a class="read-more ml-5" href="#">Read Article</a>
          </div>
          <ul class="disp border-top mt-4 pl-3">
            <li class="mt-4 ml-3 mb-2"><a href="#" class="ul-decor border border-disable p-2 mr-1">#Analytics</a></li>
            <li class="mt-4"><a href="#" class="ul-decor border border-disable p-2  ">#BigData</a></li>
          </ul>
        </div> 
      </div>

      <div class="col max-wid"> 
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/AIDesign-Cover_Photo-1.png" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title font-size-15">Step into the Bold and Beautifu...</h5>
            <p class="card-text text-color">Although there was a certain paranoia revolving ar...</p>
            <a class="read-more ml-5" href="#">Read Article</a>
          </div>
          <ul class="disp border-top mt-4 pl-3">
            <li class="mt-4 ml-3 mb-2"><a href="#" class="ul-decor border border-disable p-2 mr-1">##artificialIntelligence</a></li>
            <li class="mt-4"><a href="#" class="ul-decor border border-disable p-2">#AI</a></li>
          </ul> 
      </div>
      </div>

      <div class="col max-wid pt-4"> 
        <div class="card" style="width: 16rem;">
          <img class="card-img-top" src="assets/AIDesign-Cover_Photo-1.png" alt="Card image cap">
          <div class="card-body p-2">
            <h5 class="card-title font-size-15">Step into the Bold and Beautifu...</h5>
            <p class="card-text text-color">Although there was a certain paranoia revolving ar...</p>
            <a class="read-more ml-5" href="#">Read Article</a>
          </div>
          <ul class="disp border-top mt-4 pl-3">
            <li class="mt-4 ml-3 mb-2"><a href="#" class="ul-decor border border-disable p-2 mr-1">##artificialIntelligence</a></li>
            <li class="mt-4"><a href="#" class="ul-decor border border-disable p-2">#AI</a></li>
          </ul> 
      </div>
      </div>
    </div>
</div>

<div class="section4">
  <div class="row text-center mt-5">
    <div class="col">
      <h2>Our Feeds</h2>   
    </div>

  </div>
  <div class="row mt-5">
    <div class="col">
      <h5>We are Social</h5> 
      <ul class="nav nav-tabs tab-border border-light shadow scroll" (click)="toggleFB()">
      <li class="active img-border border-light"><i class="fa fa-facebook-official fa-3x li-pad"  aria-hidden="true"></i></li> 
        <li class="img-border border-light"><i class="fa fa-twitter fa-3x li-pad" aria-hidden="true"></i></li>
        <div *ngIf="isFB" style="height:34rem;" >
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/Chat-bot-Headers.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Facebook</h5>
              <p class="card-text">This is facebook page</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>

        <div *ngIf="!isFB">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/Banner-Digitale-1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Twitter</h5>
              <p class="card-text">This is twitter page</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>

        </div>
      </ul>
    </div>
    <div class="col">
      <h5>Instafeeds</h5> 
      <p>[wdi_feed id=”1″]</p>
  </div>
</div>
</div>
</div>
<div class="section5">
  <div class="row mt-3">
    <div class="col">
      <img class="li-pad mt-4 mb-4" src="assets/newsletter.png">
    </div>
    <div class="col">
      <h1 class="li-pad mt-4 font-color">Hear from Us</h1>
      <p class="font-color w-75 p-3 text-center">Subscribe to our newsletter to get our latest updates. No spams,promise!</p>
      <form>
        <div class="form-group">
          <input type="email" class="form-control rounded-pill w-75" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email"><i class="fa fa-telegram fa-3x" aria-hidden="true"></i>
        </div>
        </form>
    </div>
  </div>
</div>
<div class="section6 text-center">
  <div class="row mt-4">
    <div class="col">
        <a href="#"><i class="fa fa-facebook fa-3x p-5" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter fa-3x p-5" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram fa-3x p-5" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin fa-3x p-5" aria-hidden="true"></i></a>
      
    </div>
  </div>
</div>
<div class="section7">
  <div class="row">
    <div class="col">
      <ul class="d-inline-flex ul-set">
        <li class="pr-5 pl-5 ml-5"><a href="#" class="li-set">About</a></li>
        <li class="pr-5 pl-5"><a href="#" class="li-set">Services</a></li>
        <li class="pr-5 pl-5"><a href="#" class="li-set">Portfolio</a></li>
        <li class="pr-5 pl-5"><a href="#" class="li-set">DigiTales</a></li>
        <li class="pr-5 pl-5"><a href="#" class="li-set">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="section8">
  <div class="row text-center">
    <div class="col m-0 p-0">
      <img src="assets/footer_robots.png">
      <img src="assets/footer_robots2.png">
      <img src="assets/footer_robots3.png">
    </div>
  </div>
  <div class="row">
    <h4 class="h4-decor">Made by People and Robots</h4>
  </div>
  <div class="row">
    <div class="col">
      <h5><i class="fa fa-copyright h4-decor"></i>All Rights Reserved</h5> 
    </div>
  </div>
</div>
