<div class="container">
    <div class="max-width">

<div class="header">
    <div class="row">
        <div class="col-2 mt-4">
            <img src="assets/photo.png" alt="Logo">
        </div>
        <div class="col-8 mt-4">
            <p>Leave a message</p>
        </div>
        <div class="col-2">
            <button class="btn btn-white btn-xs" type="submit"><i class="fa fa-window-minimize fa-sm"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <input type="text" class="form-control border-left rounded bg-light" id="validationTooltip01" placeholder="Enter your name(Required)" aria-label="Username" aria-describedby="basic-addon1" required>
            <div class="valid-tooltip">
                Looks good!
              </div>
          </div>
        </div>
        <div class="row">
          <div class="input-group mb-3">
            <input type="email" class="form-control border-left rounded bg-light" id="validationTooltipUsername" placeholder="Your email address(Required)" required>
            <div class="invalid-tooltip">
                Please enter valid email id.
              </div>
          </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                </div>
                <input type="text" class="form-control border-left rounded bg-light" id="validationTooltip02" placeholder="Phone number(Required)" aria-label="Phone" aria-describedby="basic-addon1" required>
                <div class="valid-tooltip">
                    Looks good!
                  </div>
              </div>
            </div> 
        <div class="row">
            <div class="input-group mb-3">
                <textarea class="form-control rounded bg-light" rows="5" id="comment" placeholder="Type your message here and click Submit"></textarea>
              </div>
        </div>       
        <div class="row float-right">
            <a href="#" class="text-success disabled"><i class="fa fa-telegram"></i>Submit</a>
        </div>  
    

</div>
</div>
</div>